name: Controller Monitoring

# Controls when the workflow will run
on:
  schedule:
    - cron: 0 * * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run:
    name: Controller monitoring notebook
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repo
        uses: actions/checkout@v3
 
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version-file: '.python-version' # Read python version from a file
          
      - name: Restore venv
        uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv
        with:
          requirement_files: requirements.txt  # this is optional
          
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        

      - run: python -m ipykernel install --user --name=local-venv

      - name: Run controller monitoring notebook
        env:
          ETH_RPC_URL: ${{ secrets.ETH_RPC_URL }}
        #run: echo 'Hello world!'
        run: jupyter nbconvert --to notebook --execute controller/Controller\ Monitoring.ipynb
        
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: Show GitHub Actions logo
          committer_name: GitHub Actions
          committer_email: actions@github.com
